<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="wrapper">
    <div class="text-overlay">
      <div class="header">
        <h2 id="logo">R&R</h2>
        <i class="fa fa-bars fa-lg" onclick="toggleMenu()" role="button"></i>
        <nav id="nav-menu" class="nav-menu">
          <a href="{% url 'store' %}" class="nav-link">Shop</a>
          <a href="#" class="nav-link">About</a>
        </nav>
      </div>
      <div class="main-content">
        <h1 id="main-header">Premium</h1>
        <h3 id="sub-heading">Band Merchandise</h3>
      </div>
    </div>
    <div class="container1"></div>
    <div class="container2">
      <img src="https://images.unsplash.com/photo-1504198458649-3128b932f49e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=4eeaf44bd794f45f334775ac1fd5376a" alt="stack of clothes on a chair" class="image" id="image1-js">
    </div>
    <div class="container3">
      <div class="container4">
        <img src="https://musicisimmortal.weebly.com/uploads/8/8/5/4/8854548/725737_orig.jpg" alt="Row of different coloured jumpers" class="image" id="image2-js">
      </div>
      <div id="container5" class="container5">
        <div class="text-container">
          <h2 class="heading" id="heading">Clothing</h2>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
